.header__lightButton{
    border: 0;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    flex-shrink: 0;
    fill: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    cursor: grab;
}

.header__darkButton{ 
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    background: #244855;
    width: 132px;
    height: 48px;
    flex-shrink: 0;
    border: 0;
    cursor: grab;
}