.blog__card{
    width: 338px;
    position: relative;
    box-shadow: 4px 4px 4px rgba(37, 102, 121, 0.25);
    border-radius: 15px;
    background-color: #c7eaee;
    height: 163px;
}

.blog__head-content{
    margin: 0;
    width: 37px;
    padding-left: 27px;
    padding-right: 27px;
    position: relative;
    font-size: 16px;
    font-weight: 800;
    font-family: Inter;
    color: #244855;
    text-align: left;
    display: inline-block;
}

.blog__head{
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    height: 38px;

    border-bottom: 1px solid black;
}

.blog__mid{
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 86px;
}

.blog__mid-content{
    padding-left: 27px;
    padding-right: 27px;
    width: 118px;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    text-align: left;
    display: inline-block;
}

.blog__footer{
    height: 38px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

.blog__footer-content{
    padding-left: 27px;
    padding-right: 27px;
    width: 40%;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter;
    color: #244855;
    text-align: left;
    display: inline-block;
}