.value__label{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.value__input{
    border-radius: 5px;
    background: #EFFBFC;
    width: 418px;
    height: 33.5px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 12px;
    border: 0;
}
